

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

```python
# Exercise 1
```

---

In [1]:
x = 10

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

--

In [2]:
is_valid = True

-

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

-

In [3]:
 name = "Python Programming"

--

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

In [5]:
sum_result = 5 + 3
print(sum_result)

8

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [11]:
a, b, c = 5, 10, 15
print(a, b, c)

5 10 15

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

In [14]:
x = y =3

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

-

In [16]:
gravity_constante = 9.8
print(gravity_constante)

9.8

--

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [17]:
 country = "Senegal"

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

--

-

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [21]:
result = 20-6
print(result)

14

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

--

In [ ]:
  is_completed = False

-

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [23]:
x, y = x, y

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [24]:
 complex_num = 3 + 4j

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [26]:
value = 100      # Initially an integer
value = "one hundred"

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

-

In [27]:
 first_name = "Séne"
last_name = "Daouda"

--

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

--

In [28]:
temperature = 35.5

-

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [30]:
 product = 8*3
print(product)

24

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

--

In [31]:
sentence = "Learning Python is both fun and empowering!"

-

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

--

In [33]:
int_value = int('50')
print(int_value)

50

-

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

-

In [34]:
quotient = 144 / 12
print(quotient)

12.0

--

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

--

In [35]:
  remainder = 47 % 5
print(remainder)

2

-

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

-

In [ ]:
is_completed = True

--

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

--

In [40]:
result = 45 % 4

SyntaxError: invalid non-printable character U+00A0 (1894933944.py, line 1)

-

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

-

In [41]:
 pi = 3.14159

--

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

-

In [45]:
length = 7
width = 4
area = 7 + 4

--

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

-

In [46]:
negative_value = - 25

--

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

-

In [47]:
great = "Hello, World"

--

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

In [48]:
  population = 8000000

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

In [53]:
power_result = 2**8
print(power_result)

256

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

In [54]:
list = [4, 5, 9, 10]

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

--

In [55]:
 coordinates = (10, 20, 30)

SyntaxError: invalid non-printable character U+00A0 (57963266.py, line 1)

-

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

-

In [59]:
person ={"name":"Daouda", "age": 23}

--

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

--

In [64]:
num_1 = 3
num_2 =8
sum_num = num_1 + num_2

-

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

SyntaxError: cannot assign to literal (4122574665.py, line 1)

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

In [78]:
value = 100
value = False

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

In [79]:
is_weekend = False

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

In [80]:
description = """Ceci est une chaîne de caractères
     sur plusieurs lignes.
     Elle peut contenir des retours à la ligne,
     des tabulations, et d'autres caractères spéciaux."""

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

--

In [82]:
valeur = -25
valeur_absolue = abs(valeur)

-

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

--

In [85]:
floor_div_result = 100 // 6

SyntaxError: invalid non-printable character U+00A0 (928295310.py, line 1)

-

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

--

In [94]:
mixed_sum = 8.89 + 4

-


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

---

SyntaxError: invalid syntax (2478560992.py, line 3)

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

--

In [102]:
phrase = "Le développement durable est essentiel pour préserver notre planète et assurer un avenir meilleur."
nombre_de_caracteres = len(phrase)
print(nombre_de_caracteres)

98

-

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

---

In [104]:
division_result = 7/3

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

---

In [105]:
speed = 150  # kilomètres par heure

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

--

In [107]:
x = 4
y = 3*x + 5

-

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

****

In [112]:
t = 12
y = 18
X = 24
average = (t+y+x)

In [113]:
print(average)

34