# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

--

In [1]:
 for  i in  range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

-

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

--

In [2]:
list = {"apple","banana", "cherry"}
print(list)

{'apple', 'cherry', 'banana'}



### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

In [3]:
numbers =[10, 20, 30, 40]
number_tuple = tuple(numbers)
print(number_tuple)

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

In [4]:
 student = {"name":"Alice", "Age": 20, "Grade":"A"}
print(student)

{'name': 'Alice', 'Age': 20, 'Grade': 'A'}

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

--

In [7]:
student = {"name":"Alice", "Age": 20, "Grade":"A"}
print(student)

{'name': 'Alice', 'Age': 20, 'Grade': 'A'}

-

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

--

In [8]:
liste = [10, 20, 30, 40, 50]
second_element = liste[1]
print(second_element)

20

-

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

-

In [9]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]= "goyave"
print(fruits[2])

goyave

--

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

-

In [10]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

--

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

In [11]:
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

In [12]:
range_obj = range(0, 10)

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

--

In [13]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

-

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

In [14]:
evens = tuple(x for x in range(2, 11) if x % 2 == 0)
print(evens)

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

In [15]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

In [16]:
numbers = {1, 2, 3, 4, 5}
print(3 in numbers)

True

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

-

In [17]:
numbers = (10, 20, 30)
print(len(numbers))

3

--

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

--

In [18]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

-

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [20]:
def sum_list(lst):
    return sum(lst)

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

In [22]:
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

-

In [2]:
list("hello")

['h', 'e', 'l', 'l', 'o']

--

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

In [6]:
def reverse_tuple(temp):
    return temp[::-1]
print(reverse_tuple((1, 2, 3, 4)))

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

--

In [7]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged_dict = {**dict1, **dict2}

-

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

-

In [8]:
squares_dict = {x: x**2 for x in range(1, 6)}

--

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

-

In [9]:
for key, value in squares_dict.items():
    print(f"{key}: {value}")

1: 1
2: 4
3: 9
4: 16
5: 25

--

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [10]:
letters = [chr(i) for i in range(97, 102)]

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

--

In [11]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]
zipped = list(zip(list1, list2))

-

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

In [12]:
values = [10, 20, 30, 40, 50]
index_50 = values.index(50)

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

-

In [13]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()

--

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

-

In [14]:
def find_max(lst):
    return max(lst)

--

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

--

In [15]:
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")

-

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

-

In [16]:
person = {"name": "Alice", "age": 25, "city": "New York"}
city_value = person["city"]

--

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

In [17]:
def remove_duplicates(lst):
    return list(set(lst))

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

In [18]:
def list_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

In [19]:
def square_generator():
    for i in range(1, 11):
        yield i**2

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

-

In [20]:
def sum_dict_values(d):
    return sum(d.values())

--

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

-

In [21]:
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)

--

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

-

In [22]:
def longest_string(lst):
    return max(lst, key=len)

--

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

--

In [23]:
nums = [1, 2, 3, 4, 5]
all_positive = all(x > 0 for x in nums)

-

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

--

In [25]:
squares = [(x, x**2) for x in range(1, 6)]

print(squares)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

-

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

In [26]:
def extract_seconds(tuples):
    return [t[1] for t in tuples]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

In [33]:
fruits = ["apple", "banana", "cherry"]
for index, value in enumerate(fruits):
    print(index, value)

0 apple
1 banana
2 cherry

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

--

In [34]:
t = ()
print("Tuple is empty" if not t else "Tuple is not empty")

Tuple is empty

-

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

--

In [35]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

-

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [37]:
def reverse_list(lst):
    return lst[::-1]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

--

In [38]:
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

-

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

In [39]:
original = [1, 2, 2, 3, 4, 4, 5]
unique = list(set(original))
print(unique)

[1, 2, 3, 4, 5]

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

-

In [40]:
def extract_values(dicts, key):
    return [d[key] for d in dicts if key in d]

--

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

-

In [41]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

--

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

In [42]:
def unique_chars(s):
    return list(set(s))

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

-

In [43]:
def merge_sorted_lists(a, b):
    return sorted(a + b)

--

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

In [44]:
numbers = [1, 2, 3, 4, 5, 6]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)

[2, 4, 6]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

In [45]:
tuples = [(1, 2), (3, 4), (5, 6)]
dictionary = dict(tuples)
print(dictionary)

{1: 2, 3: 4, 5: 6}

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

--

In [46]:
def symmetric_diff(set1, set2):
    return set1.symmetric_difference(set2)

-

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

In [47]:
list1 = [1, 2, 3]
list2 = [2, 3, 4]
list3 = [3, 4, 5]
common = list(set(list1) & set(list2) & set(list3))
print(common)

[3]

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

In [48]:
def factorial(n):
    return 1 if n == 0 else n * factorial(n - 1)

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

In [49]:
items = ["apple", "", "banana", "", "cherry"]
filtered = [item for item in items if item]
print(filtered)

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

In [50]:
def swap_dict(d):
    return {v: k for k, v in d.items()}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

In [51]:
def filter_even(lst):
    return [x for x in lst if x % 2 == 0]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

In [52]:
def first_elements(tuples):
    return [t[0] for t in tuples]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

-

In [53]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

--

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

In [54]:
strings = ["apple", "banana", "cherry"]
lengths = list(map(len, strings))
print(lengths)

[5, 6, 6]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

In [55]:
def average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

-

In [58]:
def fibo(n):
    if n < 2:
        return n
    else:
        return fibo(n-1)+fibo(n-2)

--

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

-

In [60]:
from collections import Counter
items = ["apple", "banana", "apple", "cherry"]
counts = Counter(items)
print(counts)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})

--

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

-

In [61]:
def remove_value(lst, value):
    return [x for x in lst if x != value]

--

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

--

In [62]:
def starts_with_vowel(strings):
    vowels = 'aeiouAEIOU'
    return [s for s in strings if s and s[0] in vowels]

-

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

In [63]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1 & set2
print(intersection)

{2, 3}

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

In [64]:
def flatten(nested):
    return [item for sublist in nested for item in sublist]

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

-

In [65]:
def all_unique(lst):
    return len(lst) == len(set(lst))

--

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

--

In [66]:
from functools import reduce
import operator
numbers = [1, 2, 3, 4]
product = reduce(operator.mul, numbers, 1)
print(product)

24

-

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

--

In [ ]:
def string_lengths(strings):
    return {s: len(s) for s in strings}

-

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

--

In [67]:
def count_vowels(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char in vowels)

-

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

In [68]:
import math
factorials = [(i, math.factorial(i)) for i in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

--

In [69]:
def merge_dicts(dicts):
    result = {}
    for d in dicts:
        result.update(d)
    return result

-

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

--

In [70]:
def is_subset(sub, sup):
    return sub.issubset(sup)

-

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

In [71]:
def sort_by_second(tuples):
    return sorted(tuples, key=lambda x: x[1])

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

--

In [72]:
def positive_integers(lst):
    return [x for x in lst if x > 0]

-

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

-

In [73]:
def union_sets(set1, set2):
    return set1 | set2

--

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

-

In [74]:
def product_of_list(lst):
    from functools import reduce
    import operator
    return reduce(operator.mul, lst, 1)

--

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

--

In [75]:
chars = ['H', 'e', 'l', 'l', 'o']
string = ''.join(chars)
print(string)

Hello

-

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

--

In [76]:
def second_largest(lst):
    unique = list(set(lst))
    unique.sort()
    return unique[-2] if len(unique) >= 2 else None

-

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

In [77]:
def sorted_keys(d):
    return sorted(d.keys())

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

In [78]:
from collections import Counter
def most_common(lst):
    return Counter(lst).most_common(1)[0][0]

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

In [79]:
def sort_tuples_by_first(tuples):
    return sorted(tuples, key=lambda x: x[0])

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

-

In [80]:
def remove_dict_duplicates(dicts):
    seen = set()
    result = []
    for d in dicts:
        t = tuple(sorted(d.items()))
        if t not in seen:
            seen.add(t)
            result.append(d)
    return result

--

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

--

In [81]:
def min_max(lst):
    return min(lst), max(lst)

-

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

--

In [82]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

-

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

-

In [83]:
def reverse_strings(lst):
    return lst[::-1]

--

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

In [84]:
def sum_odds(lst):
    return sum(x for x in lst if x % 2 != 0)

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

--

In [85]:
def is_palindrome(s):
    return s == s[::-1]

-

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

In [86]:
def median(lst):
    lst = sorted(lst)
    n = len(lst)
    mid = n // 2
    if n % 2 == 0:
        return (lst[mid - 1] + lst[mid]) / 2
    else:
        return lst[mid]

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

In [87]:
def total_values(dicts):
    result = {}
    for d in dicts:
        for k, v in d.items():
            result[k] = result.get(k, 0) + v
    return result

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

In [88]:
def mode(lst):
    from collections import Counter
    return Counter(lst).most_common(1)[0][0]

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

In [ ]:
def sum_of_squares(lst):
    return sum(x**2 for x in lst)

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

In [89]:
cubes = [(x, x**3) for x in range(1, 6)]
print(cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

--

In [90]:
def primes_up_to(n):
    primes = []
    for i in range(2, n + 1):
        if all(i % p != 0 for p in primes):
            primes.append(i)
    return primes

-

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

In [91]:
def common_keys(dict1, dict2):
    return list(dict1.keys() & dict2.keys())

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

--

In [92]:
def strings_longer_than_5(lst):
    return [s for s in lst if len(s) > 5]

-

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

-

In [93]:
def strings_to_tuples(lst):
    return [(s, len(s)) for s in lst]

--

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```pythonf
# Exercise 100
```

---

In [99]:
def sum_dict_values(dicts):
    result = {}
    for d in dicts:
        for k, v in d.items():
            result[k] = result.get(k, 0) + v
            return result